<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>linko.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>CA91CA444C97B7A57B7B6AA9A69EF443AFAA4DD2</string>
				<key>dateExpires</key>
				<string>8/28/24</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CA91CA444C97B7A57B7B6AA9A69EF443AFAA4DD2</string>
						<key>dateExpires</key>
						<string>8/28/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7VGYVX8LQJ</string>
						<key>name</key>
						<string>Konrad For General Trading</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CA91CA444C97B7A57B7B6AA9A69EF443AFAA4DD2</string>
						<key>dateExpires</key>
						<string>8/28/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7VGYVX8LQJ</string>
						<key>name</key>
						<string>Konrad For General Trading</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CA91CA444C97B7A57B7B6AA9A69EF443AFAA4DD2</string>
						<key>dateExpires</key>
						<string>8/28/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheckInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7VGYVX8LQJ</string>
						<key>name</key>
						<string>Konrad For General Trading</string>
					</dict>
					<key>versionNumber</key>
					<string>10.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CA91CA444C97B7A57B7B6AA9A69EF443AFAA4DD2</string>
						<key>dateExpires</key>
						<string>8/28/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7VGYVX8LQJ</string>
						<key>name</key>
						<string>Konrad For General Trading</string>
					</dict>
					<key>versionNumber</key>
					<string>10.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CA91CA444C97B7A57B7B6AA9A69EF443AFAA4DD2</string>
						<key>dateExpires</key>
						<string>8/28/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7VGYVX8LQJ</string>
						<key>name</key>
						<string>Konrad For General Trading</string>
					</dict>
					<key>versionNumber</key>
					<string>10.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CA91CA444C97B7A57B7B6AA9A69EF443AFAA4DD2</string>
						<key>dateExpires</key>
						<string>8/28/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7VGYVX8LQJ</string>
						<key>name</key>
						<string>Konrad For General Trading</string>
					</dict>
					<key>versionNumber</key>
					<string>10.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CA91CA444C97B7A57B7B6AA9A69EF443AFAA4DD2</string>
						<key>dateExpires</key>
						<string>8/28/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7VGYVX8LQJ</string>
						<key>name</key>
						<string>Konrad For General Trading</string>
					</dict>
					<key>versionNumber</key>
					<string>10.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CA91CA444C97B7A57B7B6AA9A69EF443AFAA4DD2</string>
						<key>dateExpires</key>
						<string>8/28/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7VGYVX8LQJ</string>
						<key>name</key>
						<string>Konrad For General Trading</string>
					</dict>
					<key>versionNumber</key>
					<string>10.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CA91CA444C97B7A57B7B6AA9A69EF443AFAA4DD2</string>
						<key>dateExpires</key>
						<string>8/28/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7VGYVX8LQJ</string>
						<key>name</key>
						<string>Konrad For General Trading</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CA91CA444C97B7A57B7B6AA9A69EF443AFAA4DD2</string>
						<key>dateExpires</key>
						<string>8/28/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7VGYVX8LQJ</string>
						<key>name</key>
						<string>Konrad For General Trading</string>
					</dict>
					<key>versionNumber</key>
					<string>3.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CA91CA444C97B7A57B7B6AA9A69EF443AFAA4DD2</string>
						<key>dateExpires</key>
						<string>8/28/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7VGYVX8LQJ</string>
						<key>name</key>
						<string>Konrad For General Trading</string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CA91CA444C97B7A57B7B6AA9A69EF443AFAA4DD2</string>
						<key>dateExpires</key>
						<string>8/28/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7VGYVX8LQJ</string>
						<key>name</key>
						<string>Konrad For General Trading</string>
					</dict>
					<key>versionNumber</key>
					<string>7.11.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CA91CA444C97B7A57B7B6AA9A69EF443AFAA4DD2</string>
						<key>dateExpires</key>
						<string>8/28/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7VGYVX8LQJ</string>
						<key>name</key>
						<string>Konrad For General Trading</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CA91CA444C97B7A57B7B6AA9A69EF443AFAA4DD2</string>
						<key>dateExpires</key>
						<string>8/28/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Try.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7VGYVX8LQJ</string>
						<key>name</key>
						<string>Konrad For General Trading</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CA91CA444C97B7A57B7B6AA9A69EF443AFAA4DD2</string>
						<key>dateExpires</key>
						<string>8/28/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>connectivity_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7VGYVX8LQJ</string>
						<key>name</key>
						<string>Konrad For General Trading</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CA91CA444C97B7A57B7B6AA9A69EF443AFAA4DD2</string>
						<key>dateExpires</key>
						<string>8/28/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_native_splash.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7VGYVX8LQJ</string>
						<key>name</key>
						<string>Konrad For General Trading</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CA91CA444C97B7A57B7B6AA9A69EF443AFAA4DD2</string>
						<key>dateExpires</key>
						<string>8/28/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_vibrate.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7VGYVX8LQJ</string>
						<key>name</key>
						<string>Konrad For General Trading</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CA91CA444C97B7A57B7B6AA9A69EF443AFAA4DD2</string>
						<key>dateExpires</key>
						<string>8/28/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7VGYVX8LQJ</string>
						<key>name</key>
						<string>Konrad For General Trading</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CA91CA444C97B7A57B7B6AA9A69EF443AFAA4DD2</string>
						<key>dateExpires</key>
						<string>8/28/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7VGYVX8LQJ</string>
						<key>name</key>
						<string>Konrad For General Trading</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CA91CA444C97B7A57B7B6AA9A69EF443AFAA4DD2</string>
						<key>dateExpires</key>
						<string>8/28/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7VGYVX8LQJ</string>
						<key>name</key>
						<string>Konrad For General Trading</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CA91CA444C97B7A57B7B6AA9A69EF443AFAA4DD2</string>
						<key>dateExpires</key>
						<string>8/28/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7VGYVX8LQJ</string>
						<key>name</key>
						<string>Konrad For General Trading</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CA91CA444C97B7A57B7B6AA9A69EF443AFAA4DD2</string>
						<key>dateExpires</key>
						<string>8/28/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>speech_to_text.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7VGYVX8LQJ</string>
						<key>name</key>
						<string>Konrad For General Trading</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CA91CA444C97B7A57B7B6AA9A69EF443AFAA4DD2</string>
						<key>dateExpires</key>
						<string>8/28/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7VGYVX8LQJ</string>
						<key>name</key>
						<string>Konrad For General Trading</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CA91CA444C97B7A57B7B6AA9A69EF443AFAA4DD2</string>
						<key>dateExpires</key>
						<string>8/28/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7VGYVX8LQJ</string>
						<key>name</key>
						<string>Konrad For General Trading</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7VGYVX8LQJ.com.konrad.linko</string>
				<key>com.apple.developer.team-identifier</key>
				<string>7VGYVX8LQJ</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>42a45408-6f27-42f6-a2be-919a7b226c2e</string>
				<key>dateExpires</key>
				<string>8/28/24</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.konrad.linko</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7VGYVX8LQJ</string>
				<key>name</key>
				<string>Konrad For General Trading</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
